*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:  "Roboto", sans-serif;
  font-optical-sizing: auto;
  color: #333;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  background-color:#fae8ff;
}

.card-body
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  
  
}

.card{

   width: 40rem;
   max-height: 44rem;
   overflow: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.user .user-img img
{
  width:90px;
  height:90px;
  border-radius: 50%;
  object-fit: cover;
}
.user
{
  display: flex;
  margin-bottom: 20px;
  
}
.user-info
{
  margin-left: 20px;
}
.user-info h2
{
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.user-info p
{
  font-size: 16px;
  color: #777;
}

.birthday-title
{
  margin-left:10px!important;
  margin-bottom:20px;
  letter-spacing:1px;
  color:#777;
  font-style:italic;
  font-size:28px;
}

.btn-clear
{
  display: block;
  width:100%;
  background-color:#d946ef;
  padding:8px;
  border:none;
  border-radius:5px;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  letter-spacing:1px;
}

.btn-clear:hover{
  cursor: pointer;
  background-color:#a21caf;

}